/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/src/converter/dump.rdb
/bin/dump.rdb

/src/collector/collector
/src/searchhash/searchhash

conf/actions/action*.yaml
conf/actions/action*.example.yaml
conf/actions/actions.conf.yaml
.env
